<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ServeRest" verbose="1" >
    <listeners>
        <listener class-name="br.com.serverest.listeners.TestngListeners"></listener>
    </listeners>
    <test name="RegressionServerestLogin" preserve-order="true" parallel = "instances" thread-count="10">
        <classes>
            <class name="br.com.serverest.test.LoginTest"/>
        </classes>
        

    </test>
    <test name="RegressionServerestProdutos" parallel = "methods" thread-count="10">
        <classes>
            <class name="br.com.serverest.test.ProdutosTest"/>
        </classes>
    </test>
    <test name="RegressionServerestUsuarios" parallel = "methods" thread-count="10">
        <classes>
            <class name="br.com.serverest.test.UsuariosTest"/>
        </classes>
    </test>
</suite>
